<div id="navigation">
	<ul>
		<li>
			<th:block sec:authorize="isAuthenticated()">
				<th:block sec:authorize='hasRole("ADMIN")'>
					<a th:href="@{/admin}" th:text=#{navigation.li.admin}></a>
				</th:block>
			</th:block>
		</li>
		<li>
			<a th:href="@{/}" th:text="#{navigation.li.main}"></a>
		</li>
		<li>
			<a th:href="@{/guestbook}" th:text="#{navigation.li.guestbook}"></a>
		</li>
		<li>
			<a th:href="@{/board}" th:text="#{navigation.li.board}"></a>
		</li>
	</ul>
</div>